---
import Layout from "../layouts/Layout.astro";
import ThreeCanvas from "../components/ThreeCanvas.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-center">sazza.<span class="text-gradient">dev</span></h1>
    <ThreeCanvas id="main-canvas" />
  </main>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
    color: white;
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
  }

  h1 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 15px;
    opacity: 0.75;
  }
</style>
