$color-white: #fff;
$color-light-gray: #d4d4d4;
$color-acqit-blue: #0885e6;
$color-dark-gray: #1e1e1e;
$color-middle-gray: #444444;
$minimumFluidSizeViewportWidth: 375px;
$maximumFluidSizeViewportWidth: 1920px;
$useRem: false;
$useClamp: true;
